{{>pageHeader}} {{>header}}

<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-6">Database Admin : {{subTitle}} </h1>

    <div class="row">
      <div class="col-sm">
        <div class="card">
          <!-- <div class="card-header">
            <h2 class="">Database Creation</h2>
          </div> -->

          <div class="card-body">

            <!-- Makes POST request to /login route -->
            <form name="myForm" action="/dbcreate" method="post" onsubmit="return validateForm()">
              <div class="form-group">

                <div class="input-group">
                  <label for="text" class="control-label">Filename</label>
                  <div class="col-sm">
                    <input type="text" class="form-control" name="filename" placeholder="inputFile.csv" autofocus>
                  </div>
                </div>

                <p>Database type?</p>

                <div class="">
                  <input type="radio" name="checkbox" value="original" checked>
                  <label for="original">Original (raw transactions with payee names)</label>
                </div>

                <div class="">
                  <input type="radio" name="checkbox" value="final">
                  <label for="final">Final (payee names with budget categories)</label>
                </div>

              </div>

              <button type="submit" name="load" class="btn btn-outline-primary btn-lg" onclick="handleClick(this);">Load</button>
              <button type="submit" name="cancel" value="1" class="btn btn-outline-danger btn-lg" onclick="handleClick(this);">Cancel</button>

            </form>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>

<script src="/js/validate.js"></script>

{{>footer}}
