{{>pageHeader}}
{{>header}}

<div class="jumbotron centered">
  <div class="container">
    <!-- <i class="fas fa-key fa-6x"></i> -->
    <h1 class="display-6">Home</h1>
    <p class="lead">Statement Processing</p>
    <!-- <hr> -->
    <a class="btn btn-outline-primary btn-lg" href="/loadtrans" role="button">Load Transactions</a>

    <p class="lead">Database Administration</p>
    <a class="btn btn-outline-warning btn-lg" href="/dbcreate" role="button">Create Database</a>
    <a class="btn btn-outline-danger btn-lg" href="/dbdelete" role="button">Delete Database</a>
    <a class="btn btn-outline-info btn-lg" href="/dbexport" role="button">Export Database</a>

  </div>
</div>

{{>footer}}
