html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 1000px;
  font-family: 'helvetica neue';
}

h1 {
  margin-bottom: 0;
}

p {
  color: #00204a;
  font-size: 1.8rem;
  font-weight: 200;
  margin: 0;
  padding: 20px 0;
}

input {
    margin: .4rem;
}

.control-label {
  font-size: 1.8rem;
}

.btn-danger.disabled, .btn-danger:disabled, .btn-outline-danger.disabled, .btn-outline-danger:disabled {
  opacity: 0.3;
}

.jumbotron {
  padding-top: 3rem;
  margin-bottom: 0;
}

.jumbotron h1 {
  margin-bottom: 10px;
}

.card-body {
  background-color: #e9ecef;
}

header {
  background-color: #e9ecef;
}

header h1 {
  margin-left: 10px;
  color: #888888;
  font-size: 4rem;
}

form {
  background-color: #e9ecef;
}

footer {
  padding: 10px;
  color: #777777;
  background-color: #e9ecef;
  font-size: 1.25rem;
}

.lead {
  font-size: 2rem;
}
